<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netbirdtech.android.app.jiaoyiquan"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
    本app minsdk = 14 ,slidepageindicator开源库 minsdk = 16，所以会build错误
    通过设置tools:overrideLibrary  可以忽略开源库的minsdk过高问题，强力使用开源库，进行build
    问题是：运行在16+ 没有问题，但是小于16，就会出现问题
    我又把app的minSdkVersion 16，所以这里就不需要了
    -->
    <!--<uses-sdk tools:overrideLibrary="com.liangfeizc.slidepageindicator" />-->

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_desktop"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeCompatV7">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditActivity"
            android:label="@string/title_activity_edit" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.PhotoPreviewActivity"
            android:label="@string/title_activity_photo_preview"
            android:theme="@style/AppThemeCompatV7"></activity>
    </application>

</manifest>
